%h1 Your Order Has Been Fulfilled

%p Your order of:

%ul
  %li= "#{@order.quantity} #{@order.supply.name}"

%p has successfully been filled. Please follow the attached instructions:
%p= @response.instructions
