.row
  .col-xs-4
    = form_tag set_country_admin_users_path, class: "admin_country_select form-inline" do
      .form-group
        - blank = active_country? ? false : "Select Country"
        = select :country, :country_id,
          countries.collect { |country| [country.name, country.id] },
          {include_blank: blank, selected: active_country_id},
          {class: "form-control"}
      %button#pick-country.btn.btn-default(type="submit") Update

%hr
