.flash
  - flash.each do |name, msg|
    - type = translate_flash_class name
    .alert{ "class" => " alert-#{type}", "data-type" => type }
      = msg

:javascript
  $(function() {
    var translate = function(type) {
      if (type == "danger") {
        "error"
      } else {
        type
      }
    }

    var m = Messenger();

    $(".flash").hide();
    $(".alert").each(function(index, el) {
      var $el = $(el);
      m.post({
        message: $el.html(),
        type: translate($el.data("type"))
      });
    });
  });
