%script{type: "text/ng-template", id: "order_list.html"}
  %table.table.table--bordered.table--striped.table--linked
    %thead
      %tr
        %th Requester
        %th Request Date
        %th Location
        %th Requested Supplies
        %th
          %form{action: "/orders.csv", method: "get"}
            %button.btn.btn--primary
              Download
              %i.icon-download-alt
    %tbody
      %tr(ng-repeat="order in orders | filter:unfulfilled" ng-click="viewOrder(order.id)")
        %td
          %span.cell--primary {{order.user.firstName}} {{order.user.lastName}}
          %small.cell--secondary {{order.user.pcvId}}
        %td
          %span {{order.createdAt | date:'shortDate'}}
          %small.cell--secondary {{order.createdAt | date:'HH:mm'}}
        %td
          %span.cell--primary {{order.user.city}}
        %td {{order.requests | joinSupplies}}
        %td.cell--arrow
          %i.icon-caret-right