- pager = table.page
- unless pager.total_pages < 2
  %a{name: table.anchor} &nbsp;
  %ul.pager
    - if pager.current_page == 1
      %li.previous.disabled
        %a.disabled &larr; Previous
    - else
      %li.previous
        = update_params_link "&larr; Previous".html_safe,
          { table.page_param => pager.current_page - 1 },
          anchor: table.anchor

    %li Page #{pager.current_page} of #{pager.total_pages}

    - if pager.current_page == pager.total_pages
      %li.next.disabled
        %a.disabled Next &rarr;
    - else
      %li.next
        = update_params_link "Next &rarr;".html_safe,
          { table.page_param => pager.current_page + 1 },
          anchor: table.anchor
