%script{type: "text/ng-template", id: "session_new.html"}
  %form(ng-submit="login()")
    %h3 Sign in
    .form__section
      .input-group
        %input.input--full(type="email" autofocus="true" placeholder="Email" ng-model="user.email")
      .input-group
        %input.input--full(type="password" placeholder="Password" ng-model="user.password")
      .btn-group
        %button.btn.btn--primary(type="submit") Sign in
        %a.btn(href="#/users/sign_up") Sign up
        //%a.btn(href="#/users/password/new") Forgot your password?