%script{type: "text/ng-template", id: "supply_list.html"}
  %table.table.table--bordered.table--striped.table--linked
    %thead
      %tr
        %th Name
        %th Short Code
    %tbody
      %tr(ng-repeat="supply in supplies")
        %td
          %span.cell--primary {{supply.name}}
        %td
          %span {{supply.shortcode}}