.page-header
%h2 PC Medlink is an automated communication system that makes it easier for Peace Corps Volunteers to request non-prescription medical supplies from the Peace Corps Medical Unit.

.page-header
%h3 How to order supplies through the web form
%p Log on to pcmedlink.org. Choose the items you would like to order. Add any special instructions you would like. Hit Submit.

%h3How to order a supply through SMS
%p Send an SMS to +1 (202) 999-3852 with the supply short codes of the items you would like and any special instructions. You should format your message like this:

%ul
  %li "Supply Short Code 1, Supply Short Code 2, Supply Short Code 3 - Special Instructions"

%p Note that you can order a single item or multiple items in the same SMS message by simply adding additional short codes separated by commas. You can also add special instructions to your order by including a dash "-" after your last supply short code and before your message. Make sure to include any details that would help the med unit find the fastest and easiest way to get you your supplies.

%p If your request is received without errors, you will receive a confirmation that the system got it. Once your order is processed by the medical unit you will receive a response via email and text with the the details of how you will receive the items you ordered.

.page-header
%h3 Can I order refills of my prescription medications through PC Medlink?
%p No, PC Medlink is designed for over the counter medical supplies only. For any medications that are not available over the counter you will need to contact your medical unit directly.

.page-header
%h3 When and how will I hear back about my request? 
%p All orders placed by a PCV during a given month are combined in a single order that the medical unit staff will process during the first week of the following month. At that time you will receive a response via sms message and email with instructions on how you will receive your supplies.

.page-header
%h3 I received an error what do I do?
%p If your error message does not include any additional instructions please contact your medical unit by phone for help.

%h3 Here are some of the most common errors you might run into.

%h3 Errors due to incorrect typing:
%p If you receive a message that indicates that something is invalid, for example your pcvid, you may have either typed in the wrong number of characters or the wrong description. In either case you should resubmit your entire order.

%h3 Duplicate Requests for Same Medication:
%p If you request the same medication within the same month of your first order you will receive an automated system response that the order was already received.

%h3Network Connectivity:
%p If you do not receive any confirmation of any kind within 24 hours of your initial request it may not have been received due to poor network connectivity. It is recommended that you resubmit your order.

.page-header
%h3 Application Errors
%p If you get get an error with the software, please create an email describing the steps to reproduce the software problem and email it to
%a{href: "mailto:support@pcmedlink.org"} support mailing list. 
