table
  width: 100%

tbody
  background: $white

th, td
  padding: $base-spacing-unit / 2
  text-align: left
  vertical-align: top

table.table--bordered td
  border-top: 1px solid $gray-light

th
  +adjust-font-size-to($h3-size)
  font-family: $sans-serif
  padding-bottom: $base-spacing-unit

.table--striped
  tbody tr:nth-child(even)
    background-color: $gray-lighter

.cell--primary
  font-weight: bold

.cell--secondary
  display: block
  color: $gray-light

.table--linked
  tbody tr
    &:hover
      background: $blue
      color: $white
      cursor: pointer

      .icon-caret-right
        opacity: 1

    &
      +transition(all 0.1s linear)

    .icon-caret-right
      +transition(opacity 0.2s linear)

  .cell--arrow
    vertical-align: middle

  .icon-caret-right
    opacity: 0
    font-size: 40px