- orders.group_by { |o| o.request }.each do |request, os|
  %dl
    %dt
      %span= request.created_at.in_time_zone(user.time_zone).strftime '%-m/%-d/%y'
      %small.cell--secondary= request.created_at.in_time_zone(user.time_zone).strftime '%H:%M'
    %dd= os.map { |o| o.supply.name }.join ', '
