.section
  %h3 Past Due Requests
  %table#past-due-orders.table.table-bordered.table-striped
    = render partial: 'table', locals: { orders: @orders.past_due, responded: false }

.section
  %h3 Pending Requests
  %table#pending-orders.table.table-bordered.table-striped
    = render partial: 'table', locals: { orders: @orders.pending, responded: false }

.section
  %h3 Response Tracker
  %table#responded-orders.table.table-bordered.table-striped
    = render partial: 'table', locals: { orders: @orders.responded, responded: true }
