- id = label.downcase.gsub /\s/, '-'
.order-table{ id: id }
  = title do
    = label
  - if rows.any?
    = render partial: "partials/pager", locals: { anchor: id, pager: rows, page_param: page_param }
    %table.table.table-striped.table-hover
      = render partial: table, locals: { rows: rows }
  - else
    .well
      No orders
