#request-history
  %h2 Request History
  %table#orders.table.table-bordered.table-hover
    %thead
      %tr
        %th Supply
        %th Requested
        %th Response
    %tbody
      - @orders.each do |order|
        %tr.order
          %td= order.supply.name
          %td
            %span= order.created_at.in_time_zone(order.user.time_zone).strftime '%-m/%-d/%y'
            %small.cell--secondary= order.created_at.in_time_zone(order.user.time_zone).strftime '%H:%M'
          %td= order.responded_at.in_time_zone(order.user.time_zone).strftime '%-m/%-d/%y' if order.responded_at
