%h2 Request Manager

- if current_user.try(:admin?)
  = select(:country, :country_id, Country.all.collect { |country| [country.name.humanize, country.id] }, {:include_blank => "Select Country"})
  %hr

%h3 Past Due Requests
%table(class="table.table--bordered.table--striped.table--linked" id="past-due-orders")
  = render partial: 'table', locals: { orders: @orders.past_due, responded: false }

%h3 Pending Requests
%table(class="table.table--bordered.table--striped.table--linked" id="pending-orders")
  = render partial: 'table', locals: { orders: @orders.pending, responded: false }

%h3 Response Tracker
%table(class="table.table--bordered.table--striped.table--linked" id="responded-orders")
  = render partial: 'table', locals: { orders: @orders.responded, responded: true }

