= link_to orders_path(format: :csv), class: "btn btn--primary" do
  Download all Orders
  %i.icon-download-alt
= link_to orders_path(format: :csv), class: "btn btn--primary" do  
  %br
  Download users
  %i.icon-download-alt
