%table.table.table--bordered.table--striped.table--linked
  %thead
    %tr
      %th Name
      %th Short Code
  %tbody
    - @supplies.each do |supply|
      %tr
        %td
          %span.cell--primary= supply.name
        %td
          %span= supply.shortcode
