.l-sidebar
  float: left
  width: 20%

  select
    width: 100%

  h1
    margin: 0

  h4
    margin: $base-spacing-unit 0
  
  h1, h4
    line-height: 1

  .badge
    margin: ($base-spacing-unit * 2) 0 ($base-spacing-unit / 2)

.l-sidebar__inner
  background-color: $white
  width: 150px - $base-spacing-unit
  padding: 0 ($base-spacing-unit / 2)
  text-align: center