body
  padding-bottom: 3em

dl
  margin: 0 0 1em

.link
  cursor: pointer

.navbar-default a.navbar-brand:hover
  color: #ddd

.title
  margin-top: 2em

// Since smart.css seems to miss this one ...
.alert-danger
  color: #b94a48
  background-color: #f2dede
  border-color: #ebccd1
