@import url('http://fonts.googleapis.com/css?family=Lato:400,700')
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700')

@import "variables"

@import "headings"


body
  margin-top: 40px
  font-size: $base-font-size
  line-height: $base-line-height
  font-family: $base-font-family

.fa-cog
  font-size: 20px

.nav
  font-family: $sans-serif

.link
  cursor: pointer

// Hiding table rows in js doesn't work with bootstrap's default striping
.js-striped
  .striped
    background-color: #f9f9f9
  .unstriped
    background: #fff

.inline
  display: inline

.aligncenter
  margin: 0 auto

input
  margin-bottom: 5px

select
  margin-bottom: 5px

textarea
  margin-bottom: 5px
