img src="http://pcmedlink.org/logo_50.gif" style="float: left"
h1 style=s(:header, "float" => "left", "margin-left" => "20px") Welcome, #{@resource.name}!
hr style=s(clear: :both)

p PC Medlink is your gateway to ordering Non-Prescription Medical Supplies and/or medical supplies found in your Peace Corps issued medical kit. Orders may be placed through the web or by SMS on your cell phone. Please note that this application is never to be used for ordering your prescribed medications, or communicating private medical information to your Health Unit.

p Please follow the link below to activate your account and set-up a password:

h2 style=s(:center)
  = link_to 'Activate Account', confirmation_url(@resource, confirmation_token: @token), style: s(:header)

p PC Medlink is managed by your Health Unit and orders will be processed on the 1st of the month. You will receive a confirmation e-mail when you submit an order. You will also receive an e-mail when your order has been processed. This e-mail will contain instructions from your PCMO and inform you of whether your request has been made ready for pick-up, delivery, or refused. Order processing is at the discretion of your Health Unit.

h3 style=s(:header) Instructions for SMS
p Send an SMS to #{@resource.sms_contact_number} with the supply short codes of the items you would like and any special instructions. You should format your message like this:

pre style=s(:center) Supply Short Code 1, Supply Short Code 2, Supply Short Code 3 - Special Instructions

p Note that you can order a single item or multiple items in the same SMS message by simply adding additional short codes separated by commas. You can also add special instructions to your order by including a dash "-" after your last supply short code and before your message.

p If your request is received without errors, you will receive a confirmation that the system received the request. Once your order is processed by the health unit you will receive a response via text and e-mail with the details of how you will receive approved items.

h3 style=s(:header) Short Code List

table
  - @resource.available_supplies.each do |s|
    tr
      td= s.name
      td= s.shortcode

hr

p If you need some help to get you started, visit our #{link_to "Help section", help_url} for more information or e-mail us at #{link_to "support@pcmedlink.org", "mailto:support@pcmedlink.org"}.
