img src="http://pcmedlink.org/logo_50.gif" style="float: left"
h1 style=s(:header, "float" => "left", "margin-left" => "20px") Hello, #{@resource.name}!
hr style=s(clear: :both)

p Someone (hopefully you) has requested a link to change your password. You can do this through the link below.

h2(style=s(:center))= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: s(:header)

p If you didn't request this, please ignore this email.
p Your password won't change until you access the link above and create a new one.
