= form_tag admin_users_path, class: 'form-search' do
  = select_tag :edit_user, grouped_options_for_select(users, selected: selected), prompt: 'Select Volunteer to edit', class: 'input-sm', style: 'border-color:lightGray'
  %br
  %button.btn.btn-primary(type="submit") Edit
