= form_tag admin_users_path, class: 'form-inline' do
  .form-group
    = select_tag :edit_user,
      options_for_select(editable_users, selected: selected),
      prompt: 'Select Volunteer to edit',
      class: 'form-control'
  %button.btn.btn-primary(type="submit") Edit User
