= content_for :page_title do
  | Edit Account

= back_link "Back to Admin Home", new_admin_user_path

hr

= render partial: "edit_widget", locals: { selected: @user.id }

hr

= render partial: 'form', locals: { user: @user, action: :edit }
