%h1 Add Users

%h2 Bulk Upload
.row
  .col-md-offset-1
    = render partial: 'uploadcsv'

%h2 Individually
.row
  .col-md-offset-1
    = render partial: 'form', locals: {user: @user, action: :add}

%h1 Edit Account
.row
  .col-md-offset-1
    = render partial: "edit_widget", locals: { selected: nil }
