- require 'csv'

= CSV.generate do |csv|
  - csv << ["Placed", "PCV ID", "First name", "Last name", "Email", "Phone", "Item", "Amount", "Unit", "Location", "Responded", "Response", "Instructions", "Fulfilled", "Received"]
  - @orders.each do |order|
    - user = order.user
    - fields = [order.created_at, order.fulfilled_at, user.pcv_id, user.first_name, user.last_name, order.email || user.email, order.phone || user.phone, order.supply, order.quantity, order.unit, order.location]
    - if response = order.response
      - fields += [response.created_at, response.delivery_method, response.instructions, order.fulfilled_at, order.received_at]
    - csv << fields

