- require 'csv'

= CSV.generate do |csv|
  - csv << ["Placed", "PCV ID", "First name", "Last name", "Email", "Phone", "Item", "Location", "Responded", "Response", "Instructions", "Fulfilled", "Received"]
  - @orders.each do |order|
    - user = order.user
    - fields = [order.created_at, user.pcv_id, user.first_name, user.last_name, user.email, user.primary_phone.try(:number), order.supply, user.location]
    - if response = order.response
      - fields += [response.created_at, order.delivery_method, response.extra_text, nil, nil]
    - csv << fields
