- require 'csv'

= CSV.generate do |csv|

  - csv << ["User ID", "Order ID", "Placed", "Responded", "First name",
    "Last name", "Email", "Phone", "Supply Type",
    "Location", "Country", "Response Days", "Past Due"]

  - @orders.each do |order|
    - csv << [order.user_id, order.id, order.created_at,
      order.responded_at,
      order.user.first_name, order.user.last_name, order.user.email,
      order.user.primary_phone.try(:number), order.supply,
      order.user.location, order.country.name,
      order.response_time, order.how_past_due]
