- require 'csv'

= CSV.generate do |csv|
  - csv << ["Updated At", "PCV ID", "First", "Last", "Email", "Phone", "Country", "Role", "Location", "PCMO", "Date Created"]
  - @users.each do |user|
    - csv << [user.updated_at, user.pcv_id, user.first_name, user.last_name,  user.email, user.phone, user.country_id, user.role, user.location, user.pcmo_id, user.created_at]
