.page-header
  %h2 How to order personal medical supplies
 
%p Ordering Medical Supplies for personal use has never been easier. 
%p There are three easy ways to place a request:
%ol
  %li Use SMS to send a text.
  %li Use one of these two mobile browsers, either Android or IOS.
  %li Use a desktop web browser.
 
%p How to place a request:
 
%h3 Send an SMS
 
%p Just open up your text messaging application on your phone and enter in the following information in the following order. Then hit submit.

%ul
  %li PCVID
  %li Supply Short Name
  %li Dose
  %li Quantity
  %li Your Location
 
%p If your request order is received without errors you will receive a confirmation that we received it and will receive information from your medical supply officer about your order within 24 hours. 
 
%h3 Fill Out a Web Form

%p Just log on to #{link_to 'pcmedlink.org', root_path} to access the web form. Then fill out the form and hit submit. You will receive a confirmation message via email and sms that your order has been placed. Within 24 hours you will receive information from your medical supply officer about your order.

.page-header
  %h2 I received a confirmation that my request was received - now what happens?

%p Once you have placed your request, your Peace Corps Medical Officer will reply with details about your request within 24 hours.  Your instructions will contain the following information which is dependent on which method your PCMO determines is most appropriate to fulfill your request:
 
%p There are 3 methods of fulfillment:
 
%h3 Pick Up
%p Your PCMO will provide where the medication is located and indicate the soonest possible date that it will be available.

%h3 Delivery
%p Your PCMO will provide you a date range as to when your medication will be dropped off at your location.

%h3 Purchase
%p If it is not possible for your PCMO to fulfill your request then he/she will recommend that you purchase your medication through an outside vendor. You will receive instructions on what is required in order for your purchase to be reimbursed.

.page-header
  %h2 I received an error - what do I do?
 
%p If your error message does not include any additional instructions please #{link_to 'contact an administrator', 'mailto:jamesdabbs+pcmedlink@gmail.com'} for help.
 
%p Here are some of the most common errors you might run into.

%h3 Errors due to incorrect typing.
%p If you receive a message that indicates that something is invalid, for example your dose or pcvid, you may have either typed in the wrong number of characters or the wrong description. In either case you should resubmit your entire order.
 
%h3 Duplicate Requests for Same Medication
%p If you request the same medication within 24 hours of your first order you will receive an automated system response that the order was already received.

%h3 Network Connectivity
%p If you do not receive any confirmation of any kind within 24 hours of your initial request it may not have been received due to poor network connectivity. It is recommended that you resubmit your order.
