.l-wrapper
  %header.l-sidebar
    .l-sidebar__inner
      #brand
      %hgroup
        %h1 Peace Corps
        %h4 Medical Supplies
        %span.badge.badge--left Uganda
      %nav
        %ul.nav.nav--stacked
          %li
            %a(href="#") Requests
          %li
            %a(href="#") Submit Request
  %div.l-main
    .l-header
      %nav
        %ul.nav.nav--inline.nav--right
          %li
            %a(href="#") Logout
          %li
            %a(href="#") Settings
    %section(ng-view)