.l-wrapper
  %header.l-sidebar
    .l-sidebar__inner
      %img#brand(src="/logo.png")
      %hgroup
        %h1 Peace Corps
        %h4 Medical Supplies
        %span.badge Dominican Republic
  %div.l-main
    .l-header
      %nav
        %ul.nav.nav--inline.nav--right
          %li
            %a(href="#") Logout
          %li
            %a(href="#") Settings
    %section(ng-view)