.l-wrapper
  %header.l-sidebar
    .l-sidebar__inner
      %img#brand(src="/logo.png")
      %hgroup
        %h1 Peace Corps
        %h4 Medical Supplies
        %span.badge= current_user.country.name.titleize
  %div.l-main
    .l-header
      %nav
        %ul.nav.nav--inline.nav--right
          %li
            = link_to 'Logout', destroy_user_session_path, target: '_self'
          %li
            = link_to 'Settings', edit_user_registration_path, target: '_self'
    %section(ng-view)